.App {
  position: absolute;
width: 537px;
height: 40%;
left: 451px;
top: 312px;

background: #d7c6c6;
border-radius: 27px;
}
.form{
  display: flex;
flex-direction: column;
gap: 15px;
align-items: center;
}

.field__input {
  border-radius:10px;
  width:60%;
  font-family:inherit;
  font-size: inherit;
  padding:5px;
}
 .btn{
   /* remove default behavior */
   appearance:none;
   -webkit-appearance:none;
   /* usual styles */
   padding:10px;
   border:none;
   background-color:#3F51B5;
   color:#fff;
   font-weight:600;
   border-radius:5px;
   width:60%;
 }

