body {
    font-family: Roboto;
}

.main__outdoor {
    display: flex;
    flex-direction: column;
}

.content__outdoor {
    flex: 1 1 auto;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: blue;
}

.sale {
    display: flex;
    height: 36px;
    justify-content: center;
    align-items: center;
    background-color: #000F9F;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.25px;
    color: #FFFFFF;
}

.nav {
    display: flex;
    height: 72px;
    align-items: stretch;
    justify-content: space-around;
}

.leftnav {
    display: flex;
    gap: 24px;
    font-size: 13px;
    letter-spacing: 0.3px;
    align-items: center;
}

.midnav {
    display: flex;
    font-size: 19px;
    font-weight: 900;
    align-items: center;
}

.rightnav {
    display: flex;
    gap: 24px;
    align-items: center;
}

.search {
    margin-top: 6px;
    flex-basis: 100%;
}

.account,
.basket {
    display: flex;
    flex-direction: column;
}

.foto1 {
    width: 8px;
    height: 8px;
    padding-left: 1.5px;
}

.foto2 {
    width: 8px;
    height: 4px;
    padding-left: 3px;
}

.section1 {
    display: flex;
    position: relative;
    flex: 1 1 auto;
}

.fotosection1 {
    width: 100%;
    height: 810px;
}

.h1 {
    position: absolute;
    margin-top: 45px;
    margin-left: 1200px;
    font-size: 66px;
    line-height: 80px;
    letter-spacing: 3.2px;
    color: #FFFFFF;
}

.h2 {
    position: absolute;
    margin-top: 243px;
    margin-left: 1200px;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
}

.button1 {
    position: absolute;
    margin-top: 340px;
    margin-left: 1200px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 24px;
    border: none;
}

.section2 {
    display: flex;
    justify-content: space-around;
    height: 216px;
    padding-bottom: 51px;
    align-items: flex-end;
    background: #E5E5E5;
}

.text1 {
    font-size: 60px;
}

.button2 {
    background: #202020;
    height: 48px;
    width: 249px;
    border-radius: 24px;
    font-size: 16px;
    color: #FFFFFF;
}

.img {
    display: flex;
    justify-content: center;
}

.text2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text3,
.text4,
.text5,
.text6 {
    display: flex;
    width: 45%;
    justify-content: center;
}

.content {
    max-width: 1158px;
    margin: 0px auto;
}

.columns {
    background: #E5E5E5;
}

.columns__row {
    display: flex;
}

.columns__column {
    flex: 1 0 50%;
}

.item__row {
    display: flex;
    flex-direction: column;
    border: 0px;
}

.item__image {
    flex: 0 0 579px;
}

.item__body {
    padding: 10px 0px 0px 0px;
}

.item__title {
    margin-bottom: 13px;
    font-size: 22px;
    color: #202020;
    line-height: 30px;
}

.item__text {
    font-size: 12px;
    line-height: 19px;
    color: #737373;
}

.zipp-offs {
    background: #E5E5E5;
    padding: 90px 0px 0px 0px;
}

.content2 {
    max-width: 1224px;
    margin: 0 auto;
}

.zipp-offs__row {
    display: flex;
    justify-content: space-between;
}

.zipp-offs__body {
    padding-top: 249px;
}

.zipp-offs__title {
    padding-bottom: 38px;
    font-size: 61px;
    line-height: 80px;
    letter-spacing: 3.2px;
    color: #202020;
}

.zipp-offs__text {
    padding-bottom: 35px;
    padding-right: 120px;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.3px;
    color: #202020;
}

.zipp-offs__image {
    max-width: 582px;
}

.trail {
    background-color: #E5E5E5;
    padding-top: 84px;
}

.content3 {
    max-width: 1224px;
    margin: 0 auto;
}

.trail__row {
    display: flex;
}

.trail__image {
    max-width: 582px;
}

.trail__body {
    padding: 223.41px 0px 0px 72px;
}

.trail__title {
    padding-bottom: 38px;
    font-size: 65px;
    line-height: 80px;
    letter-spacing: 3.2px;
    color: #202020;
}

.trail__text {
    padding-bottom: 36px;
    font-size: 22px;
    line-height: 31px;
    letter-spacing: 0.3px;
    color: #202020;
}

.shop {
    max-width: 100%;
    background-color: #E5E5E5;
    padding-top: 84px;
}

.shop__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.shop__images {
    min-width: 719px;
}

.doing {
    background-color: #E5E5E5;
}

.content4 {
    max-width: 1224px;
    margin: 0 auto;
    padding-top: 72px;
}

.doing__row {
    display: flex;
    flex-direction: column;
}

.doing__text1 {
    padding-right: 274px;
    font-size: 71px;
    line-height: 88px;
    letter-spacing: 3.5px;
    color: #202020;
}

.doing__text2 {
    font-weight: bold;
    font-size: 64px;
    line-height: 88px;
    letter-spacing: 3.5px;
    color: #202020;
    padding-bottom: 28px;
}

.story {
    display: flex;
}

.doing__text3 {
    padding-right: 10px;
    font-size: 16px;
    line-height: 23px;
    color: #202020;
}

.join {
    max-width: 1224px;
    margin: 0 auto;
    margin-top: 150px;
}

.join__colunm {
    flex: 1 0 50%;
}

.join__row {
    display: flex;
    justify-content: space-between;
}

.join__body {
    display: flex;
    flex-direction: column;
}

.join__title {
    font-weight: bold;
    font-size: 64px;
    line-height: 88px;
    letter-spacing: 3.5px;
    color: #202020;
    padding-bottom: 20px;
}

.join__text {
    padding-right: 500px;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.3px;
    padding-bottom: 30px;
    color: #202020;
}

.join__email {
    display: flex;
    flex-direction: column;
}

.join__email__text {
    font-weight: bold;
    font-size: 35px;
    padding-bottom: 20px;
}

.radio {
    margin-bottom: 5px;
}

.join__email__text2 {
    padding-bottom: 20px;
}

.join__email__button {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 18px;
}

.button3 {
    background: #202020;
    height: 48px;
    width: 150px;
    border-radius: 24px;
    font-size: 16px;
    color: #FFFFFF;
}

.join__list {
    display: flex;
}

li {
    padding-bottom: 20px;
    list-style-type: none;
}

.join__list1,
.join__list2 {
    font-size: 14px;
}